.card-wrapper {
  h1 {
    margin-bottom: 20px;
  }
  .card-area {
    background:#fff;
    border-radius: 12px;
    >ul {
      display: flex;
      flex-direction: row;
      //justify-content: space-between;
      // width:100%;
      flex-wrap: wrap;
      gap: 20px;
      padding: 20px;
    }
    .card-item {
      border: 1px solid #94ac94;
      background-color: #fff;
      //flex:1;
      width: 250px;
      .info-area {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
      }
    }
    .cont-wrap div {
      width: 100%;
      dl {
        width: inherit;
        dt {
          width: inherit;
          text-align: center;
          img {
            display: block;
            width: calc(100% - 10px);
            height: 270px;
            margin:5px;
            object-fit: cover;
            object-position: 50% 50%;
          }
        }
        dd {
          text-align: left;
          padding: 10px;
        }
      }
    }
  }
}

.btn-area {
  button {
    display: inline-block;
    vertical-align: top;
    padding: 2px 8px;
    font-size: 14px;

    +button {
      margin-left: 6px;
    }
  }
}