.container{
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  width:100%;
  height:calc(100% - 130px);
  .contents{
    background-color: #fff;
    width:100%;
    //border:1px solid red;
    //height: 100%;
    flex:1;
    padding:40px 20px 20px 60px;
    border-radius:100px 0 0 0;
    overflow-y: auto;
    .openText{
      @include font-bold;
    }
    .cont-wrap{
      width:100%;
      height:100%;
    }
    .title-area{
      padding-bottom:25px;
    }
  }
}