@mixin font-family {
  font-family:
    "Pretendard Variable",
    Pretendard,
    system-ui,
    sans-serif;
}

@mixin font-basic {
  font-size: 16px;
  font-weight: 400;
}

@mixin font-bold {
  font-size: 16px;
  font-weight: 600;
}

@mixin font-title {
  font-size: 24px;
  font-weight: 600;
}